@page "/english"
@using Microsoft.Extensions.Caching.Memory;

<PageTitle>Index</PageTitle>

@inject IMemoryCache cache
@inject IJSRuntime jsRuntime

@if (songbook.Songs == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Interprete</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in songbook?.Songs)
            {
                <tr>
                    <td>@song.SingerName</td>
                    <td>@song.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    Songbook? songbook = new();
    Songbook? globalSongbook = new();

    protected override async Task OnInitializedAsync()
    {
        globalSongbook = await cache.GetOrCreateAsync<Songbook>("songBook", async data =>
         {
             Songbook result = new();

             data.AbsoluteExpirationRelativeToNow = TimeSpan.FromMinutes(10);

             result.Songs = (await jsRuntime.InvokeAsync<SongDb[]>(
                 "QueryDB",
                         @"SELECT songs.Id, songs.Name, songs.SingerId, singers.Name as SingerName, songs.Language
                 FROM music4lifesongbook.Songs AS songs
                 LEFT JOIN music4lifesongbook.Singers As singers
                 on singers.Id = songs.SingerId
                 order by songs.Language, singers.Name, songs.Name
                 limit 100"
             )).ToList();

             return result;
         });
        songbook.Songs = globalSongbook.Songs.Where(x => x.Language == Language.English).ToList();

        await base.OnInitializedAsync();
    }

    public string GetLanguageName(Language language)
    {
        switch (language)
        {
            case Language.Portuguese:
                return "Português";
            case Language.Brazilian:
                return "Brasileiro";
            case Language.African:
                return "Africano";
            case Language.Spanish:
                return "Espanhol";
            case Language.Italian:
                return "Italiano";
            case Language.French:
                return "Francês";
            case Language.German:
                return "Alemão";
            case Language.English:
                return "Inglês";
            default:
                return "Error";
        }
    }
}