@page "/french"

@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if(songs == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Interprete</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in songs)
            {
                <tr>
                    <td>@song.SingerName</td>
                    <td>@song.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<SongDb>? songs = new();

    protected override async Task OnInitializedAsync()
    {
        songs = await Http.GetFromJsonAsync<List<SongDb>>($"api/songbook/language/{Language.French}");

        await base.OnInitializedAsync();
    }

    public string GetLanguageName(Language language)
    {
        switch (language)
        {
            case Language.Portuguese:
                return "Português";
            case Language.Brazil:
                return "Brasileiro";            
            case Language.African:
                return "Africano";            
            case Language.Spanish:
                return "Espanhol";
            case Language.Italian:
                return "Italiano";
            case Language.French:
                return "Francês";
            case Language.German:
                return "Alemão";
            case Language.English:
                return "Inglês";
            default:
                return "Error";
        }
    }
}