@page "/"

@inject HttpClient Http
@inject Songbook songbook

<PageTitle>Index</PageTitle>

<h1>Lista de Músicas Digital</h1>


@code {

    protected override async Task OnInitializedAsync()
    {
        songbook.Songs = await Http.GetFromJsonAsync<List<SongDb>>("api/songbook");

        StateHasChanged();

        await base.OnInitializedAsync();
    }

    public string GetLanguageName(Language language)
    {
        switch (language)
        {
            case Language.Portuguese:
                return "Português";
            case Language.Brazilian:
                return "Brasileiro";            
            case Language.African:
                return "Africano";            
            case Language.Spanish:
                return "Espanhol";
            case Language.Italian:
                return "Italiano";
            case Language.French:
                return "Francês";
            case Language.German:
                return "Alemão";
            case Language.English:
                return "Inglês";
            default:
                return "Error";
        }
    }
}