@page "/portuguese"

<PageTitle>Português</PageTitle>

@inject Songbook globalSongbook

@if(songbook.Songs == null)
{
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Interprete</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in songbook?.Songs)
            {
                <tr>
                    <td>@song.SingerName</td>
                    <td>@song.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    Songbook? songbook = new();

    protected override async Task OnInitializedAsync()
    {
        songbook.Songs = globalSongbook.Songs.Where(x => x.Language == Language.Portuguese).ToList();

        await base.OnInitializedAsync();
    }

    public string GetLanguageName(Language language)
    {
        switch (language)
        {
            case Language.Portuguese:
                return "Português";
            case Language.Brazilian:
                return "Brasileiro";            
            case Language.African:
                return "Africano";            
            case Language.Spanish:
                return "Espanhol";
            case Language.Italian:
                return "Italiano";
            case Language.French:
                return "Francês";
            case Language.German:
                return "Alemão";
            case Language.English:
                return "Inglês";
            default:
                return "Error";
        }
    }
}